{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Contato | {{ block.super }}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-lg-8 col-md-6 mb-4">
    <h1 class="my-4">Fale conosco</h1>
        {% if succes %}
            <div class="alert alert-success">
            Mensagem enviada para email.
            </div>
        {% endif %}
    <form action="" method="post">
    {% csrf_token %}
        {% for field in form %}
        <div class="form-group{% if field.errors %} is-invalid {% endif %}">
        <div class="col-md-9">
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {% render_field field class='form-control' %}
            {% for error in field.errors %}
                <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
        </div>
    </div>
{% endblock %}