{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Login | {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
        {% for error in form.non_field_errors %}
                <div class="alert-danger">
                {{ error }}
                </div>
            {% endfor %}
          <div class="card-body">
            <h5 class="card-title text-center">Entrar</h5>
            <form class="form-signin" method="post">
            {% csrf_token %}
              <div class="form-label-group {% if field.username.errors %} is-invalid {% endif %}">
                  {% for error in field.errors %}
                <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
                {% render_field form.username class="form-control" %}
                <label for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
              </div>

              <div class="form-label-group {% if field.password.errors %} is-invalid {% endif %}">
                {% render_field form.password class="form-control" %}
                <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Recuperar senha</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}