{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Nova conta | {{ block.super }}
{% endblock %}

{% block container %}
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
        {% for error in form.non_field_errors %}
                <div class="alert-danger">
                {{ error }}
                </div>
            {% endfor %}
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Nova conta</h5>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-label-group{% if field.errors %} is-invalid {% endif %}">
                    {% render_field field class="form-control" %}
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% for error in field.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
                    </div>
                {% endfor %}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrar-se</button>
              <a class="d-block text-center mt-2 small" href="#">Entrar</a>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}